.a
{background-color: black ;
    text-decoration: underline ; color: aliceblue;
    text-align: center;

}
.b{
    text-align: center;
}
.d{border: 2px solid black;}
.e{font-weight: bold;}

.s{
    font-weight: bold;
    text-align: center;
}


